.home {
  background-color: orangered;
  height: 100vh;
  width: 100%;
  /* flex-direction: row; */
  z-index: -100;
  position: relative;
}

.brian-img {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 30% 0;
}

.title {
  position: absolute;
  z-index: 10;
  color: white;
  text-align: center;
  margin: 75vh 10%;
}

.home-head {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 300%;
  font-weight: 600;
}

.home-subhead {
  font-size: 1.2rem;
  font-weight: 100;
}



          