.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.1);
}

.navbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.navbar_logo {
    margin-left: 1rem;
}

.navbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
}

.spacer {
    flex: 1; 
}

.navbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_navigation_items li {
    padding: 0 1rem;
    font-size: 1.4rem;
}

.navbar_navigation_items a {
    color: white;
    text-decoration: none;
}

.navbar_navigation_items a:hover,
.navbar_navigation_items a:active {
    color: #fa923f;
    text-decoration: none;
}

/* Link underline effect */
.link--underline-effect {
    position: relative;
    /* display: inline-block; */
  }
  
  .link--underline-effect:before {
      content: "";
      position: absolute;
      bottom: 0;
      background:white;
      height: 2px;
      left: auto;
      right: auto;
      width: 0px;
      -webkit-transition: all .5s cubic-bezier(.23,1,.32,1);
      transition: all .5s cubic-bezier(.23,1,.32,1);
  }
  
  .link--underline-effect:hover:before {
      width: 69%;
      right: auto;
      left: auto;
  }

  @media (max-width: 768px) {
      .navbar_navigation_items {
          display: none;
      }
  }

  @media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }
    .navbar_logo {
        margin-left: 0;
    }
  }
 